@tailwind components;

@layer components {
    .heroH1 {
        @apply bg-gradient-to-bl from-orange-400 via-pink-400 to-orange-400 text-8xl font-extrabold -ml-1;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .heroSubtitle {
        @apply text-black text-5xl font-extrabold uppercase;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    }
}
